<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer__container container grid">
    <div class="footer__content grid">
      <a routerLink="/home" class="footer__logo">Mo Ibra</a>
      <ul class="footer__links">
        <li>
          <a routerLink="/home" class="footer__link">Home</a>
        </li>
        <li>
          <a routerLink="/projects" class="footer__link">Projects</a>
        </li>
        <li>
          <a routerLink="/services" class="footer__link">Services</a>
        </li>
      </ul>
    </div>
    <div class="footer__social">
      <a href="https://www.facebook.com" target="_blank" class="footer__social-link">
        <i class="ri-facebook-circle-line"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank" class="footer__social-link">
        <i class="ri-instagram-line"></i>
      </a>
      <a href="https://www.x.com" target="_blank" class="footer__social-link">
        <i class="ri-twitter-line"></i>
      </a>
    </div>
  </div>
  <span class="footer__copy">
    &#169; All Rights Reserved By M ibra
  </span>
</footer>
