<!--==================== HOME ====================-->
<section class="home section" id="home">
  <div class="home__container container grid">
    <!--===== PERFIL =====-->
    <div class="perfil">
      <img src="img/home-perfil.png" alt="image" class="perfil__img">
      <div class="perfil__data">
        <h1 class="perfil__name">Mo <br> ibrahim</h1>
        <div class="perfil__buttons">
          <a href="#Projects" class="button">Projects</a>
          <a href="#Services" class="button button__black">Services</a>
        </div>
      </div>
    </div>

    <!--===== INFO =====-->
    <div class="info">
      <div class="info__data">
        <div class="info__circle"></div>
        <h1 class="info__name">Mo Ibrahim</h1>
      </div>
      <div class="info__image">
        <img src="img/about-perfil.png" alt="" class="info__img">
      </div>
      <p class="info__discription">
        Passionate about creating and designing websites with the best engaging interfaces.
      </p>
      <a href="pdf/Mo-cv.pdf" download target="_blank" class="button button__black">Download CV</a>
    </div>

    <!--===== ABOUT =====-->
    <div class="about">
      <h3 class="about__name">
        Mo Ibrahim -<b>Web Designer & Developer</b>
      </h3>
      <p class="about__description">
        Located in Peru, I have several years of experience in web development and design,
        carrying out several successful projects.
      </p>
      <div class="about__social">
        <a href="https://www.linkedin.com/" target="_blank" class="about__link">
          <i class="ri-linkedin-box-line"></i>
        </a>
        <a href="https://github.com/" target="_blank" class="about__link">
          <i class="ri-github-line"></i>
        </a>
        <a href="https://www.behance.net/" target="_blank" class="about__link">
          <i class="ri-behance-line"></i>
        </a>
      </div>
      <div class="about__image">
        <img src="img/about-perfil.png" alt="image" class="about__img">
      </div>
      <p class="about__note">
        He doesn't write messages on social networks, send me an email and I'll answer you.
      </p>
      <a href="#contact" class="button">Contact Me</a>
    </div>

    <!--===== SKILLS =====-->
    <div class="skills">
      <h2 class="skills__title">Skills</h2>
      <div class="skills__items">
        <img src="img/skills-html.svg" alt="image" class="slills__item">
        <img src="img/skills-css.svg" alt="image" class="slills__item">
        <img src="img/skills-javascript.svg" alt="image" class="slills__item">
        <img src="img/skills-github.svg" alt="image" class="slills__item">
        <img src="img/bootstrap-5-1.svg" alt="image" class="slills__item">
        <img src="img/skills-figma.svg" alt="image" class="slills__item">
        <img src="img/skills-photoshop.svg" alt="image" class="slills__item">
      </div>
      <p class="skills__description">
        Visit the projects section to see the work done with these web technologies.
      </p>
    </div>
  </div>
</section>
