<section class="projects section" id="projects">
  <h2 class="section__title">RECENT PROJECTS</h2>

  <div class="projects__container container grid">
    <!-- ===============projects-1============== -->
      <article class="projects__card">
        <a href="https://github.com/mohamedibrahim181/Native_Portfolio.git" target="_blank" class="projects__image">
          <img src="img/projects-1.jpeg" alt="image" class="projects__img">
        </a>

        <div class="projects__data">
          <h3 class="projects__name">Native Portfolio</h3>
          <p class="projects__description">
            This is my personal portfolio built using HTML, CSS, and JavaScript. It showcases my skills and projects, highlighting my passion for web development. Explore the interactive features and responsive design that reflect my dedication to creating engaging user experiences.
          </p>

          <div class="projects__skills">
            <img src="img/skills-html.svg" alt="image" class="projects__skill">
            <img src="img/skills-css.svg" alt="image" class="projects__skill">
            <img src="img/skills-javascript.svg" alt="image" class="projects__skill">
          </div>

          <a href="https://mohamedibrahim181.github.io/Native_Portfolio/" target="_blank" class="projects__button">
            <i class="ri-link"></i>
            <span>View Demo</span>
          </a>
        </div>
      </article>
    <!-- ===============projects-2============== -->
      <article class="projects__card">
        <a href="#" target="_blank" class="projects__image">
          <img src="img/projects-2.jpg" alt="image" class="projects__img">
        </a>

        <div class="projects__data">
          <h3 class="projects__name">Food Product Design</h3>
          <p class="projects__description">
            Short description of the project that
            was carried out in this portfolio.
          </p>

          <div class="projects__skills">
            <img src="img/skills-figma.svg" alt="image" class="projects__skill">
            <img src="img/skills-photoshop.svg" alt="image" class="projects__skill">
          </div>

          <a href="#" target="_blank" class="projects__button">
            <i class="ri-link"></i>
            <span>View Demo</span>
          </a>
        </div>
      </article>
    <!-- ===============projects-3============== -->
      <article class="projects__card">
        <a href="#" target="_blank" class="projects__image">
          <img src="img/projects-3.jpg" alt="image" class="projects__img">
        </a>

        <div class="projects__data">
          <h3 class="projects__name">Restaurant Landing Page</h3>
          <p class="projects__description">
            Short description of the project that
            was carried out in this portfolio.
          </p>

          <div class="projects__skills">
            <img src="img/skills-html.svg" alt="image" class="projects__skill">
            <img src="img/skills-css.svg" alt="image" class="projects__skill">
            <img src="img/skills-javascript.svg" alt="image" class="projects__skill">
          </div>

          <a href="#" target="_blank" class="projects__button">
            <i class="ri-link"></i>
            <span>View Demo</span>
          </a>
        </div>
      </article>
    <!-- ===============projects-4============== -->
      <article class="projects__card">
        <a href="#" target="_blank" class="projects__image">
          <img src="img/projects-4.jpg" alt="image" class="projects__img">
        </a>

        <div class="projects__data">
          <h3 class="projects__name">Barbershop Website</h3>
          <p class="projects__description">
            Short description of the project that
            was carried out in this portfolio.
          </p>

          <div class="projects__skills">
            <img src="img/skills-react.svg" alt="image" class="projects__skill">
            <img src="img/skills-sass.svg" alt="image" class="projects__skill">
            <img src="img/skills-tailwind-css.svg" alt="image" class="projects__skill">
          </div>

          <a href="#" target="_blank" class="projects__button">
            <i class="ri-link"></i>
            <span>View Demo</span>
          </a>
        </div>
      </article>
    <!-- ===============projects-5============== -->
      <article class="projects__card">
        <a href="#" target="_blank" class="projects__image">
          <img src="img/projects-5.jpg" alt="image" class="projects__img">
        </a>

        <div class="projects__data">
          <h3 class="projects__name">Construction Landing Page</h3>
          <p class="projects__description">
            Short description of the project that
            was carried out in this portfolio.
          </p>

          <div class="projects__skills">
            <img src="img/skills-html.svg" alt="image" class="projects__skill">
            <img src="img/skills-css.svg" alt="image" class="projects__skill">
            <img src="img/skills-javascript.svg" alt="image" class="projects__skill">
          </div>

          <a href="#" target="_blank" class="projects__button">
            <i class="ri-link"></i>
            <span>View Demo</span>
          </a>
        </div>
      </article>
  </div>
</section>
