<!--==================== NAV ====================-->
<nav class="nav">
  <ul class="nav__list">
    <li>
      <a routerLink="/home" title="home" class="nav__link active-link">
        <i class="ri-home-line"></i>
      </a>
    </li>
    <li>
      <a routerLink="/projects" title="Projects" class="nav__link">
        <i class="ri-folder-line"></i>
      </a>
    </li>
    <li>
      <a routerLink="/services" title="Services" class="nav__link">
        <i class="ri-file-edit-line"></i>
      </a>
    </li>
    <li>
      <a routerLink="/experience" title="Experience" class="nav__link">
        <i class="ri-honour-line"></i>
      </a>
    </li>
    <li>
      <a routerLink="/contact" title="Contact" class="nav__link">
        <i class="ri-send-plane-line"></i>
      </a>
    </li>
  </ul>
</nav>
