<section class="services section" id="services">
  <h2 class="section__title">SERVICES I OFFER</h2>

  <div class="services__container container grid">
    <!-- ===========services card 1========== -->
    <article class="services__card">
      <div class="services__icon">
        <div class="services__circle"></div>
        <i class="ri-code-box-line"></i>
      </div>

      <h3 class="services__name">Web Development</h3>
      <p class="services__description">
        Short description of the service offered
        to users to obtain a personalized project.
      </p>
    </article>
    <!-- ===========services card 2========== -->
    <article class="services__card">
      <div class="services__icon">
        <div class="services__circle"></div>
        <i class="ri-brush-line"></i>
      </div>

      <h3 class="services__name">Web Design</h3>
      <p class="services__description">
        Short description of the service offered
        to users to obtain a personalized project.
      </p>
    </article>
    <!-- ===========services card 3========== -->
    <article class="services__card">
      <div class="services__icon">
        <div class="services__circle"></div>
        <i class="ri-pen-nib-line"></i>
      </div>

      <h3 class="services__name">Content Writer</h3>
      <p class="services__description">
        Content Writer crafting engaging and informative articles, blogs, and web content tailored to audience needs.
      </p>
    </article>
  </div>
</section>
