<section class="experience section" id="experience">
  <h2 class="section__title">EXPERIENCE OR WORK</h2>

  <div class="experience__container container grid">
    <!-- ===========experience card 1========== -->
    <article class="experience__card">
      <h2 class="experience__company">Developer</h2>

      <div class="experience__data">
        <h3 class="experience__profession">Front End Developer</h3>
        <span class="experience__data">10/24 - Present</span>
        <p class="experience__description">
          Front-End Developer skilled in building responsive, user-friendly websites using HTML, CSS, and JavaScript.
        </p>
      </div>
    </article>
    <!-- ===========experience card 2========== -->
    <article class="experience__card">
      <h2 class="experience__copany">SEO</h2>

      <div class="experience__data">
        <h3 class="experience__profession">SEO Specialist</h3>
        <span class="experience__data">02/23 - Present</span>
        <p class="experience__description">
          SEO Specialist optimizing websites to improve search rankings and increase organic traffic effectively.
        </p>
      </div>
    </article>
    <!-- ===========experience card 3========== -->
    <article class="experience__card">
        <h2 class="experience__copany">WordPress</h2>

        <div class="experience__data">
           <h3 class="experience__profession">WordPress Designer</h3>
           <span class="experience__data">01/23 - Present</span>
           <p class="experience__description">
            WordPress Designer creating custom, responsive websites that enhance user experience and engagement.
           </p>
        </div>
        </article>
        </div>
     </section>
